.button {
    cursor: pointer;
    width: 25%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.myimg {
    width: 48px;
    height: 24px;
}

.search{height:40px !important}
.search .container-fluid {padding:0 !important}
.search .nav-collapse i {opacity:0.8}
.search .nav-collapse li:hover i {opacity:1}
.search .navHover:after {height:1px;width:100%;bottom:-1px;position:absolute;content:'';display:block}
.search, .navbar-fixed-bottom {z-index:999}
.search {margin:0 !important}
.searchbutton{
    cursor: pointer;
    color: #B3B3B3;
    border: none;
    background: url(../images/select-arrow.png) no-repeat 95% center;
    border: solid 1px #B3B3B3;
    border-radius: 3px;
    font-size: 12px;
    height: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
}
.top-search form input[type="button"] {
    background: url(../images/9.png) no-repeat 0px 0px !important;
    width: 18px !important;
    height: 18px !important;
    border: none !important;
    position: absolute !important;
    outline: none !important;
    top: 9px;
    right: 26px;
}

.movies_img{
    width: 200px;
    height: 200px;
}
